# Veja https://help.github.com/articles/ignoring-files/ para mais detalhes sobre o gitignore.

# Dependências
# A caixa de ferramentas gigante que não precisa ser enviada.
/node_modules

# Arquivos de Build
# A oficina de montagem temporária.
/.next/
/out/

# Arquivos de Teste
/coverage

# Arquivos de Configuração Local e Segredos
# A CHAVE DO CARRO! NUNCA ENVIE ISSO!
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db